body {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  margin: 1.5vw;
}

.main-container {
  display: grid;
  grid-template: auto 1fr auto / 100%;
  align-content: space-between;
  height: 95vh;
}

.header-container {
  display: flex;
  justify-content: space-between;
}
.main-title-logo-container {
  display: flex;
  align-items: center;
  gap: 0.5vw;
}

.add-book-container {
  display: flex;
  gap: 1vw;
  align-items: center;
}

#add-book {
  border-radius: 10px;
  font-size: larger;  
  text-align: center;
}

#add-book:hover {
  background-color: rgb(159, 226, 238);
  cursor: pointer;
}

#github-logo {
  height: auto;
  width: 1.5vw;
}
  
.footer-container {
  margin-top: 2vh;
  display: flex;
  gap: 1vw;
  align-items: center;
  justify-content: center;

}

.mid-container {
  height: 80%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  row-gap: 3vh;
}

.modal-title {
  text-align: center;
}

.title,
.author,
.pages {
  display: flex;
  flex-direction: column;
  margin-bottom: 1vh;
}

.submit-form {
  margin-top: 2vh;
}

#submit-book:hover {
  background-color: rgb(159, 226, 238);
  cursor: pointer;
}

#modal {
  width:35vw;
  height: 55vh;
}

.btn-container {
  display: flex;
  gap:2vw;
}

.book-container {
  height: 1fr;
  width: 70%;
  padding: 4%;
  border: solid;
  border-radius: 5px;
}